<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="~/css/v2/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/v2/components/modal.css" />
    <link rel="stylesheet" type="text/css" href="~/css/v2/components/select.css" />
    <title>@ViewData["Title"]</title>

    <script src="https://kit.fontawesome.com/fe5943a138.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</head>
<body>
    @RenderBody()
</body>
</html>